.footer {
    width: 100%;
    height: 50px;
    background-color: brown;
}

.footer .__container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    color: white;
    font-style: italic;
}

.footer .__container .__left {
    text-align: left;
}

.footer .__container .__right {
    text-align: right;
}